*{
    margin:0;
}
body{
    height: 100vh;
    background: rgb(188, 219, 188);
   
}
h1{
    text-align: center;
}
form{
    background-color: white;
    width: 700px;
    height: 850px;
    margin-left: 300px;
    padding: 50px;
}
table{
    border: 1px solid;
    border-collapse: collapse;
    
}
.table{
    width: 605px;
}
.table1 tr td{
    width:300px;
    border: 1px solid;
    border-collapse: collapse;
}
.table2 tr td{
    width:300px;
    border: 1px solid;
    border-collapse: collapse;
}
.table3{
    width:610px;
    border: 1px solid;
    border-collapse: collapse;
    color: white;
    background-color: rgb(5, 5, 115);
}
.table4{
    width: 610px;
    height: 50px;
    border: 1px solid rgb(107, 105, 105);
    border-collapse: collapse;
    margin-top: -2px;

}
.last{
    padding-left: 255px;
   
}
.last1{
    margin-left: 55px;
    width:265px;
    color: rgb(199, 196, 196);
}
.last2{
    width: 265px;
    color: rgb(162, 158, 158);
}
.check1{
    margin-left: 80px;
}
.check2{
    margin-left: 20px;
}
.text{
    margin-left: 90px;
}
.text1{
    margin-left: 15px;
}
.check3{
    margin-left: 20px;
}
.check4{
    margin-left: 5px;
}
button{
    margin-left: 470px;
    background-color: white;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-color: rgb(220, 216, 216);
}
.mm{
    margin-left: 135px;
    margin-top: -20px;
    border:1px  solid;
    border-color: black;
    border-collapse: collapse;
    width: 180px;
    /* padding-left: 80px; */
}
.mm1{
    padding-left: 15px;
}