*{
    margin: 0;
}
section{
    display: grid;
    grid-template-columns: 400px 550px auto;
}
.app{
    text-align: center;
    margin-top: 15px;
}
.mag{
    margin-top: 10px;

}
.fa-solid{
    position: relative;
    left: 200px;
    font-size: 30px;
    top: 40px;
}
.cor{
    position: relative;
    left: 250px;
    margin-bottom: 10px;
}
.fa-regular{
    position: relative;
    left: 200px;
    font-size: 30px;
    top: 40px;
}
.img{
    height: 350px;
}